@using PRODUCT_TRACKING.Models.Entities
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    Guid newg = Guid.NewGuid();
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Available products</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Products
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Serial Number</th>
                            @*<th>Number of stocks</th>*@
                            <th>Explanation</th>
                            <th colspan="2" class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Product Name</th>
                            <th>Serial Number</th>
                            @*<th>Number of stocks</th>*@
                            <th>Explanation</th>
                        </tr>
                    </tfoot>
                    <tbody id="ListProduct">
                        @foreach (var item in Model)
                        {
                            if(item.Stock==true)
                            {
                                <tr id="@item.ID">
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductSerialNumber</td>
                                    <td>@item.Explanation</td>
                                    <td class="text-center"><a href="/Customer/TakeProduct/@item.ID" class="btn btn-success">Take Product</a></td>
                                </tr>
                            }                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>







